.form-search {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 10px;
}

.form-search__input {
  box-sizing: border-box;
  border: 2px solid green;
  border-radius: 5px;
  padding: 10px;
  width: 300px;
}

.form-search__button {
  box-sizing: border-box;
  border: 2px solid green;
  border-radius: 5px;
  padding: 7px;
  background-color: transparent;
}

.form-search__button:hover {
  border-color: red;
}
