#root {
  box-sizing: border-box;
  max-width: 1280px;
  margin: 0 auto;
}

.main {
  box-sizing: border-box;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.main__title {
  margin: 0;
}

.content {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40vh;
}
